
peft
piano-transcription-inference
pillow
pooch
posthog
pretty_midi
product_key_memory
protobuf
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic-settings
pydantic_core
pydub
pyFluidSynth
pynvml
pyparsing
pypdf
PyPika
pyproject_hooks
pyreadline3
pyserial
python-docx
python-dotenv
python-rtmidi
pytorch-lightning
pytz
PyWavelets
pywin32
PyYAML
regex
requests
requests-oauthlib
requests-toolbelt
rich
rotary-embedding-torch
rsa
safetensors
samplerate
scikit-learn
scipy
sentry-sdk
setproctitle
setuptools
shellingham
smartsheet-python-sdk
smmap
sniffio
soundfile
soupsieve
soxr
SQLAlchemy
starlette
sympy
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tf_keras
threadpoolctl
tiktoken
timm
tokenizers
toml
torch
torchaudio
torchlibrosa
torchmetrics
torchvision
tqdm
transformers
treelib
typer
typing-inspect
tzdata
urllib3
usersettings
uvicorn
vector-quantize-pytorch
viztracer
wandb
watchdog
watchfiles
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
win32_setctime
wrapt
x-transformers
xxhash
yacs
yarl
youtube-dl
